/* Geral */
html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    overflow-x: hidden;
}

.page-wrap {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.content-wrap {
    padding-bottom: 245px; /* altura total do footer */
}

footer .upper-footer-wrap, footer .lower-footer-wrap{
    width: 100%; /* necessita de ser absoluto */
    position: absolute;
    color: white;
}

footer h4 {
    font-weight: bold;
    font-size: 18px;
}

.upper-footer-wrap {
    bottom: 80px;
    height: 160px; /* altura do upper footer */
    background-color: #3e4157;
    padding-bottom: 0.4%;
}

.lower-footer-wrap {
    bottom: 0;
    height: 80px; /* altura do lower footer */
    background-color: #282A35;
    text-align: center;
}

.upper-footer-wrap-content {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    height: 160px; /* altura do upper footer */
    margin: 0 auto;

}

.upper-footer-wrap-content a:link {
    text-decoration: none;
    color: inherit;
}

.upper-footer-wrap-content a:visited {
    text-decoration: none;
    color: inherit;
}

.upper-footer-wrap-content a:hover {
    text-decoration: underline;
}

.upper-footer-wrap-content a:active {
    text-decoration: underline;
}

.upper-footer-wrap-left, .upper-footer-wrap-mid, .upper-footer-wrap-right {
    float:left;
    width: 33%;
    text-align: left;
    /*border: 1px solid #73AD21;*/
}

.upper-footer-wrap-left-text, .upper-footer-wrap-mid-text, .upper-footer-wrap-right-text {
    margin: 0 auto;
    padding-left: 10%;


}

.upper-footer-wrap-mid-text p {
    margin: 0 0 8px;
}

.upper-footer-wrap-left-text p {
    margin: 0 0 5px;
}

.upper-footer-wrap i {
    padding: 5px;
}

.upper-footer-wrap > a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.vertical-line {
    float:left;
    border-left: 1px solid white;
    height: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 1650px) {
    .upper-footer-wrap-content {

    }

    .upper-footer-wrap-left-text, .upper-footer-wrap-mid-text, .upper-footer-wrap-right-text {

        /*border: 3px solid #73AD21;*/
    }
}



/* Index */
.sidebar {
    display: none;
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282A35;
    overflow-x: hidden;
    transition: 0.6s;
}

header hr {
    margin: 0;
}

.sidebar-btns a {
    display: block;
    padding: 20px 30px; /* poderei mudar */
    font-size: 24px;
    text-decoration: none;
    color: #fafafa;
}

.sidebar-btns a:hover {
    transition: 0.4s;
    background-color: #3D3F50;
}

#close-sidebar-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 24px;
    text-decoration: none;
    color: #fafafa;
}

header {
    height: 60px;
    background-color: #282A35 !important;
    overflow: hidden;
}

.open-sidebar-btn {
    float: left;
    margin: 20px;
    font-size: 18px;
    color: white !important;
    text-align: center;
    text-decoration: none;
}

.sidebar-btns i {
    float: right;
}

.sidebar-user {
    padding-left: 30px;
    font-size: 18px;
    color: white;
    padding-top: 24px;

    margin-top: 0;
    font-weight: bold;
}

.sidebar-user a {
    text-decoration: none;
    color: inherit;
}

.sidebar-user a:hover, .sidebar-user a:active {
    text-decoration: underline;
}

.header-btns a {
    float: right;
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#overlay{
    position:fixed;
    display:none;
    width:100%;
    height:100%;
    top:0;
    left:300px; /* largura da sidebar */
    right:0;
    bottom:0;
    cursor: pointer;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
}




#back_button, .submit {
    background-color: #47495E;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-weight: bold;
    border: none;
}



#criar_questao:hover, #criar_questao:active, #back_button:hover, #back_button:active, .submit:hover , .submit:active{
  background-color: #3D3F50;
}


#content_index a {
    text-decoration: none;
}

#content_index {
    text-align: center;
    margin-right: 40px;
}

#content_index li {
    list-style-type: none;
    border-top: 2px solid #282A35;
    color: black;
    padding: 15px 25px;
    text-align: center;
}

#content_index li a {
    color: black;
    padding: 15px 25px;
}

#content_index li a:hover, #content_index li a:active {
    color: blue;
}

#info {
    text-align: center;
}

form {
    text-align: center;
}

.submit {
    font-size: 16px;
}

#results {
    text-align: center;
}

#results li {

    list-style-type: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
}
