/* Geral */
html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    overflow-x: hidden;
}

.page-wrap {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.content-wrap {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 245px; /* altura total do footer */
}

#teste{
    margin : 0;
    padding: 0;

}

.object-wrap {
    width: 100%;
    max-width: 34.3em;
    border: 4px solid transparent;
    height: 17em;
    display: inline-block;
    border-radius: 10px;
    background-color: #fafafa;
    margin: 5px;
}

.object-img {
    display: inline-block;
}

.object-img img {
    width: 17em;
    height: 17em;
    object-fit: cover;
    border-radius: 6px;
}

.object-wrap a {
    text-decoration: none;
}

.object-details-wrap {
    overflow: hidden;
    margin-right: 4%;
    margin-top: 2%;

    width: 100%;
    max-width: 15em;
    max-height: 16em;
    height: 100%;

    display: inline-block;
    float: right;
    position: relative;
}

.object-details-wrap i {
    width: 27px;
}

#product-link { /*does nothing*/
    text-decoration: none;
    color: inherit;
}

.admin-object-options {
    position: absolute;
    bottom:0;
    right: 0;
    /*margin: 11% 0 0 7.5%;*/
    color: black;

}

.admin-object-options a {
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
}

.admin-object-options a:hover {
    color: #224FD8;
}


footer .upper-footer-wrap, footer .lower-footer-wrap{
    width: 100%; /* necessita de ser absoluto */
    position: absolute;
    color: white;
}

footer h4 {
    font-weight: bold;
    font-size: 18px;
}

.upper-footer-wrap {
    bottom: 80px;
    height: 160px; /* altura do upper footer */
    background-color: #3e4157;
    padding-bottom: 0.4%;
}

.lower-footer-wrap {
    bottom: 0;
    height: 80px; /* altura do lower footer */
    background-color: #282A35;
    text-align: center;
}

.upper-footer-wrap-content {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    height: 160px; /* altura do upper footer */
    margin: 0 auto;

}

.upper-footer-wrap-content a:link {
    text-decoration: none;
    color: inherit;
}

.upper-footer-wrap-content a:visited {
    text-decoration: none;
    color: inherit;
}

.upper-footer-wrap-content a:hover {
    text-decoration: underline;
}

.upper-footer-wrap-content a:active {
    text-decoration: underline;
}

.upper-footer-wrap-left, .upper-footer-wrap-mid, .upper-footer-wrap-right {
    float:left;
    width: 33%;
    text-align: left;
    /*border: 1px solid #73AD21;*/
}

.upper-footer-wrap-left-text, .upper-footer-wrap-mid-text, .upper-footer-wrap-right-text {
    margin: 0 auto;
    padding-left: 10%;


}

.upper-footer-wrap-mid-text p {
    margin: 0 0 9px;
}

.upper-footer-wrap-left-text p {
    margin: 0 0 5px;
}

.upper-footer-wrap i {
    padding: 5px;
}

.upper-footer-wrap > a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.vertical-line {
    float:left;
    border-left: 1px solid white;
    height: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Index */
.sidebar {
    height: 100vh;
    width: 300px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #282A35;
    overflow: hidden;
    transform: translate(-100%, 0px);
    transition: all 0.5s ease 0s;
}



header hr {
    margin: 0;
}

.sidebar-btns a {
    display: block;
    padding: 20px 30px; /* poderei mudar */
    font-size: 20px;
    text-decoration: none;
    color: #fafafa;
}

.sidebar-dropdown-container {
    display: none;
    margin-left: 25px;
}

.sidebar-dropdown-container i {
    width: 40px;
}

.sidebar-btns a:hover, .header-btns a:hover, .logo a:hover {
    transition: 0.4s;
    background-color: #3D3F50;
}

.open-sidebar-btn a:hover {
    color: #3D3F50;
}

#close-sidebar-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    margin: 10px 10px;
    font-size: 24px;
    text-decoration: none;
    color: #fafafa;
}

header {
    height: 60px;
    background-color: #282A35 !important;
    overflow: hidden;
}

.open-sidebar-btn {
    float: left;
    margin: 20px;
    font-size: 20px;
    color: white !important;
    text-align: center;
    text-decoration: none;
}

.open-sidebar-btn a {
    text-decoration: none;
    color: inherit;
}

.sidebar-btns-symbols {
    float:left;
    width: 40px;
}

.sidebar-user {
    padding-left: 30px;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.sidebar-user a {
    text-decoration: none;
    color: inherit;
}

.sidebar-user a:hover, .sidebar-user a:active {
    text-decoration: underline;
}

.header-btns-link {
    float: right;
    color: white !important;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
}

.header-btns i {
    padding-right: 10px;
}

.header-btns {
    height: 60px;
    margin-top: 0;
    float: right;
}

#testes {
    color: white;
    text-decoration: none;
    padding: 25px 20px;
    font-size: 20px;
}

#img-coin {
    position: relative;
    padding-top: 10px;
    top: 12%;
    padding-right: 4px;
}

#img-coin-sidebar {
    position: relative;
    bottom: 6px;
    right: 6px;
}


#overlay{
    position:fixed;
    opacity: 0;
    width:0;
    height:0;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    cursor: pointer;
    background-color:rgba(0,0,0,0.5);
    z-index:2;
    transition: opacity 0.6s;
}

.logo a {
    padding-top: 6px;
    display: block;
    float: left;
    text-decoration: none;
    color: inherit;
}


.filter {
    position: absolute;
    right: 20%;
    z-index: 1;
}

#categoria {
    width: 100%;
    padding: 5px 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: black;
}

#search-text {
    width: 250%;
    padding: 10px 10px;
    margin:0;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#search-form {
    float: left;
    padding-top: 12px;
}

#search-symbol {
    margin: 12px;
    padding-top: 16px;
    float: left;
    color: white;
}

.search {
    margin-left: 17.5%;
}

.object-name a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.object-name {
    padding-bottom: 0%;
}

.object-username a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.object-name a:hover, .object-username a:hover {
    text-decoration: underline;
}

.object-detail-one {
    font-size: 18px;
}

.object-detail-three {
    font-size: 18px;
}

.object-detail-two {
    font-size: 18px;
}

.object-detail-four {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 45%;
}

.object-detail-four img {
    position: relative;
    top: 8px;
}

.object-details-wrap section {
    margin-bottom: 15px;
}

.login-form {
    border: 1px solid #ccc;
    padding-bottom: 4%;
    padding-top: 2%;
    border-radius: 6px;
    background-color: #fafafa;
    padding-left: 30%;

}

.login-form h2 {
    padding-left: 15%;
}

.form-field {
    background-color: inherit;
    width: 50%;
    padding: 10px 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;

}

.form-field-label {
    margin-left: 0;
    font-size: 14px;
    font-weight: bold;
}

.create-acct-btn {
    background-color: #343745;
    color: white !important;
    border-radius: 4px;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
}

.create-acct-btn a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    display:block;
    width: 100%;
    font-weight: normal !important;
    color: inherit;
    border-radius: 4px;
}

.create-acct-divider {
    margin-top: 8%;
    text-align: center;
    border-bottom: 1px solid #666;
    color: #666;
    line-height: 0.1em;
}

.create-acct-divider span {
    background:#E8E8E8;
    padding:0 10px;
}

.form-btn {
    cursor: pointer;
    margin-top: 10px;
    background-color: #343745;
    color: white !important;
    padding: 10px 25px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 15%;
}


.form-btn:hover, .form-btn:active, .create-acct-btn a:hover, .create-acct-btn a:active {
    background-color: #3e4157;
}

.form-wrap {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

.form-wrap-wide {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.input-file {
    padding-top: 2%;
}

.form-error-msg {
    color: #b90504;
    margin-left: -5%;
}

.form-error-msg-wide {
    color: #b90504;
    margin-left: 5%;
}



#content_index a {
    text-decoration: none;
}

#content_index {
    text-align: center;
    margin-right: 40px;
}

#content_index li {
    list-style-type: none;
    border-top: 2px solid #282A35;
    color: black;
    padding: 15px 25px;
    text-align: center;
}

#content_index li a {
    color: black;
    padding: 15px 25px;
}

#content_index li a:hover, #content_index li a:active {
    color: blue;
}

#info {
    text-align: center;
}

.submit {
    font-size: 16px;
}

#results {
    text-align: center;
}

#results li {

    list-style-type: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
}
