{% extends "ibuy/index.html" %}
{% load static %}
<head>
    {% block title %}
    <title>Adicionar Crédito</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <section class="form-wrap-wide">
    <form action="{% url 'ibuy:adicionarcredito' %}" method="post" class="addcoin-form">
        {% csrf_token %}
        <h2>Carregue a sua carteira digital!</h2>
        <label class="form-field-label" for="quantidade">Quantidade:</label>
        <input style="width: 20%" class="form-field" type="number" name="quantidade" id="quantidade" value=0 min=0 max=9999.99 step="any">
        <br>
        <input type="submit" class="form-btn" style="margin-left: 0;" value="Adicionar"/>
    </form>


</section>
{% endblock %}
</body>