{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Carrinho</title>
    {% endblock %}
</head>

{% block content %}
<body>

    <aside style="float:right; padding: 15px; margin: 15px">
        <p>
        <h3><strong> TOTAL: </strong></h3><strong>120 COINS</strong>
        </p>
        <a href="" id="comprar">COMPRAR</a>
    </aside>

    <p>
        Imagem&emsp;Nome produto x<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <label for="quantidade">Quantidade:</label>
        <input list="quantidades" name="quantidade" id="quantidade">
          <datalist id="quantidades">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </datalist> Preço 1<br><br>

        Imagem&emsp;Nome produto y<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;
        <label for="quantidade">Quantidade:</label>
        <input list="quantidades2" name="quantidade" id="quantidade2">
        <datalist id="quantidades2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </datalist> Preço 2<br><br>
    </p>
</body>
{% endblock %}