{% extends "ibuy/index.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
<title>Carrinho</title>
{% endblock %}

{% block content %}

{% if lista %}
<h2>Produtos do Carrinho</h2><br>
{% for item in lista %}

<strong>{{ item.0.nome }}</strong><br><br>
    <section class="form-field-label" >Qtd.</section>
    <form action="{% url 'ibuy:updatequantidade' item.0.id %}" method="post">
        {% csrf_token %}
        <input style="width: 10%; background-color: #fafafa;" type="number" name="quantidade" id="quantidade" value="{{ item.1 }}" min=0 max={{ item.0.quantidade }}
               step=1 class="form-field">
        <input type="submit" value="Alterar" class="form-btn" style="margin-left:0; font-size: 16px;"/>
        <section class="delele-product-cart">
            <a href="{% url 'ibuy:removercarrinho' item.0.id %}">
                <i class="fa-solid fa-trash fa-xl"></i> Remover Produto
            </a>
        </section>
    </form>


<hr class="hr-checkout">

{% endfor %}

<strong>Quantidade total de produtos: {{ request.session.quantidadetotal }}</strong>
</br><br>
<strong>Preço total:   <section class="coin-product coin-total-price"><img src="{% static 'ibuy/images/coin.png' %}"
                                                             alt="Moeda do website" width="30" height="30">{{ request.session.precototal }}
        </section></strong>
</br>
<br>
<br>











<section class="container">
    <a href="#" id="btncompra" class="form-btn" style="margin-left: 0;">
        Check Out
    </a>
</section>
<section class="popupcompra" id="popupcompra">
    <br>
    <br>

    {% if request.user.utilizador.credito|sub:request.session.precototal >= 0 %}

    <h3> Deseja confirmar a sua compra? </h3>
    <h3> Total: {{ request.session.precototal }} </h3>
    <h3> Balanço final: {{ request.user.utilizador.credito|sub:request.session.precototal }} </h3>
    <br>
    <br>
    <a class="form-btn" style="margin-left: 0;" href="{% url 'ibuy:efetuarcompra' %}" id="buttonconfirm"> Confirmar </a>
    <a class="form-btn" href="#" id="btncancel" onclick="closePopup()"> Cancelar </a>

    {% else %}

    <h3> Não tem crédito suficiente para efetuar a compra </h3>
    <a class="form-btn" style="margin-left: 0;" href="{% url 'ibuy:adicionarcredito' %}"> Carregar carteira </a>
    <a class="form-btn" href="#" id="btncancel2"> Fechar </a>

    {% endif %}
</section>

{% else %}

<h2> Não existe nada no carrinho. </h2>

{% endif %}
{% endblock %}