{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Carrinho</title>
    {% endblock %}
</head>

{% block content %}
<body>
    {{ balancocredito }}
    {% if lista is not None %}
        {% for item in lista %}
        <li>
            {{ item.0.nome }}
            {{ item.1 }}
            <form action="{% url 'ibuy:updatequantidade' item.0.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Adicionar"/>
            </form>
            <a href="{% url 'ibuy:removercarrinho' item.0.id %}">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </li>
        {% endfor %}
        Quantidade total {{ quantidadetotal }}
        </br>
        Preco total {{ precototal }}
        </br>
        <form action="{% url 'ibuy:carrinho' %}" method="post">
             {% csrf_token %}
             <input type="submit" value="Comprar"/>
        </form>
    {% else %}
    <h3>nao tem nada</h3>
    {% endif %}

    <a href="{% url 'ibuy:adicionarcredito' %}">Adicionar Dinheiro</a>
</body>
{% endblock %}