{% extends "ibuy/index.html" %}
{% load static %}


{% block title %}
<title>Registar</title>
{% endblock %}

{% block content %}
<section class="form-wrap-wide">

<form action="{% url 'ibuy:criarconta' %}" enctype="multipart/form-data" method="post" class="login-form">
    {% csrf_token %}
    <h2>Criar Conta</h2>
    <br>

    {% for field in user_form %}
        <label class="form-field-label">{{ field.label }}</label><br>
        {{ field }}<br><br>
    <br>
    {% endfor %}

    {% for field in utilizador_form %}
        <label class="form-field-label" >{{ field.label }}</label><br>
        {{ field }}<br><br>
    <br>
    {% endfor %}

    {% for field in password_form %}
        <label class="form-field-label">{{ field.label }}</label><br>
        {{ field }}<br><br>
    <br>
    {% endfor %}

    {% if error_message %}
    <h5 class="form-error-msg-wide">{{ error_message }}</h5>
    {% endif %}

    <input type="submit" value="Registar" class="form-btn"/>
</form>
</section>
{% endblock %}