{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Criar Produto</title>
    {% endblock %}
</head>
<body>
{% block content %}
<section class="form-wrap-wide">
<form action="{% url 'ibuy:criarproduto' %}" enctype="multipart/form-data" method="post" class="login-form">
    {% csrf_token %}
    <h2>Criar Produto</h2>
    {% for field in form %}
        <label class="form-field-label" >{{ field.label }}</label><br>
        {{ field }}<br><br>
    <br>
    {% endfor %}


    <input type="submit" value="Criar" class="form-btn"/>
</form>
    </section>
{% endblock %}
</body>
