{% extends "ibuy/index.html" %}
{% load static %}
<head>
    {% block title %}
    <title>História da Empresa</title>
    {% endblock %}
</head>
<body>
{% block content %}
<h2>iBuy - O Bazaar Iscteca</h2>
<article>
    <h4>A Equipa</h4>
    Com menos de um semestre de existência a nível nacional e com uma equipa de desenvolvimento com mais de 2 anos de
    formação. Apoiamos os projetos dos nossos professores nos nossos exercícios semanais.<br>
    Contamos atualmente com mais de 2 pessoas para o desenvolvimento dos diversos projetos.<br><br>
    Olhamos para cada novo desafio como uma oportunidade de nos superarmos e tornarmo-nos num parceiro de referência.<br><br>
    Agimos diariamente do mundo, para o mundo.<br><br>

    <h4>iBuy</h4>
    O site tem como objetivo criar um lugar seguro para a compra e venda de produtos relacionados com o ISCTE-IUL.
    Os diversos produtos disponíveis neste site variam desde roupa com o <i>branding</i> do ISCTE até sebentas dos
    cursos.<br><br>
    Este site mais recente da nossa empresa consitui como parte integrante de um projeto de âmbito académico cuja
    avaliação será integralmente responsável pela avaliação final da unidade curricular com tema o desenvolvimento
    para a internet e aplicações móveis.

</article>
{% endblock %}
</body>