<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'ibuy/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />

    {% block title %}
    <title>Index</title>
    {% endblock %}
    <script>
        function openMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('sidebar').style.marginLeft = '250px';
        }

         function closeMenu() {
            document.getElementById('menu').style.width = '0px';
            document.getElementById('sidebar').style.marginLeft = '0px';
        }
    </script>
</head>
<body>

    <header>
        {% if request.user.is_authenticated %}
        Bem-vindo {{ request.user.first_name }}!
        <a href="{% url 'ibuy:logoutview' %}">Log out</a>
        {% endif %}
                <section id="sidebar">
            <span class="slider">
                <a onclick="openMenu()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
            </span>

            <div id="menu" class="nav">
                <a class="close" onclick="closeMenu()">
                   <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <a href="{% url 'ibuy:carrinho' %}">Carrinho</a>
                <a href="{% url 'ibuy:loginuser' %}">LogIn</a>
                <a href="{% url 'ibuy:criarproduto' %}">Criar Produto</a>
                <a href="{% url 'ibuy:meusprodutos' %}">Meus Produtos</a>
            </div>
        </section>
    </header>
    <!-- esta seccao tambem devia fazer parte do header -->


    {% block content %}
        <p>
      {% if lista_produtos %}
    <ul>
        <h2>Feed</h2>
        {% for produto in lista_produtos %}
        <li>
            {{ produto.nome }}
            {{ produto.quantidade }}
            {{ produto.preco }}
            {{ produto.descricao }}
            {{ produto.condicao }}
            {{ produto.categoria.tipo }}
            <a href="{% url 'ibuy:produto' produto.id %}">
                Ver
            </a>
            <!-- retorno do valor a ser impresso na página -->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nao ha venda.</p>
    {% endif %}
    <p>
    {% endblock %}

<footer>
    <p>Olga Silva | Samuel Correia | Afonso Sampaio</p>
    <p>&copy; Todos os direitos reservados.</p>
</footer>

</body>
</html>