<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'ibuy/style.css' %}"/>

    <title>Title</title>

    <script>
        function openMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('sidebar').style.marginLeft = '250px';
        }

         function closeMenu() {
            document.getElementById('menu').style.width = '0px';
            document.getElementById('sidebar').style.marginLeft = '0px';
        }
    </script>
</head>
<body>
    <div id="sidebar">
        <span class="slider">
            <a onclick="openMenu()">
                |||
            </a>
        </span>

        <div id="menu" class="nav">
            <a class="close" onclick="closeMenu()">
                X
            </a>
            <a href="#">Teste</a>
            <a href="#">Teste2</a>
            <a href="#">Teste3</a>
        </div>

        <h1>Teste</h1>
    </div>

    {% block content %}
        <h1>Página inicial</h1>
    {% endblock %}


</body>
</html>