<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}
    <title>iBuy</title>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'ibuy/scripts.js' %}"/></script>
    <link rel="stylesheet" type="text/css" href="{% static 'ibuy/style.css' %}"/>
    <script src="https://kit.fontawesome.com/56015711c9.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="initial-scale=1">
</head>
<body>
<section class="page-wrap">

    <header>

        <section class="open-sidebar-btn">
            <a href="#" id="menu-btn">
                    <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </section>

        <section class="sidebar">
            <a href="#" id="close-sidebar-btn">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>

            <p class="sidebar-user">
                Olá,
                {% if request.user.is_authenticated %}
                    <a href="{% url 'ibuy:perfil' request.user.id %}">{{ request.user.first_name }}</a>!
                {% else %}
                    <a href="{% url 'ibuy:loginuser' %}">Log-In</a>
                {% endif %}
            </p>

            <hr>

            <section class="sidebar-btns">
                <a href="{% url 'ibuy:index' %}">Home<section class="sidebar-btns-symbols"><i class="fa-solid fa-house"></i></section></a>
                <a id="category" href="#">Categorias<section class="sidebar-btns-symbols"><i id="category-symbol" class="fa-solid fa-angle-right"></i></section></a>
                <a href="{% url 'ibuy:carrinho' %}">Carrinho<section class="sidebar-btns-symbols"><i class="fa-solid fa-cart-shopping"></i></section></a>

                {% if request.user.is_authenticated and not request.user.is_superuser %}
                    <a href="{% url 'ibuy:meusprodutos' %}">Meus Produtos<section class="sidebar-btns-symbols"><i class="fa-solid fa-cubes"></i></section></a>
                    <a href="{% url 'ibuy:criarproduto' %}">Criar Produto<section class="sidebar-btns-symbols"><i class="fa-regular fa-square-plus"></i></section></a>
                {% endif %}

            </section>
        </section>

        <section class="logo">
            <a href="{% url 'ibuy:index' %}"><img src="{% static 'ibuy/images/LOGO-IBUY-White-Trans.gif' %}" alt="Logo iBuy" height="50"></a>
        </section>

        <section class="header-btns">

            {% if request.user.is_authenticated %}
                <a href="{% url 'ibuy:logoutview' %}">Log out<i class="fa-solid fa-arrow-right-from-bracket" id="logout-btn"></i></a>
                <a href="{% url 'ibuy:minhaconta' %}"><i class="fa-solid fa-user"></i></i>Conta</a>
            {% else %}
                <a href="{% url 'ibuy:loginuser' %}">Log-In</a>
            {% endif %}
            <a href="{% url 'ibuy:carrinho' %}"><i class="fa-solid fa-cart-shopping"></i>Carrinho</a>
            <section class="credit">
                <img src="{% static 'ibuy/images/coin.png' %}" alt="Moeda do website" width="30" height="30" id="img-coin">
                {% if request.user.is_authenticated %}
                    {{ request.user.utilizador.credito }}
                {% else %}
                    0
                {% endif %}
            </section>
        </section>
    </header>

    <section id="overlay"></section>

    <section class="content-wrap">
        {% block content %}

        <section class="filter">
            <form method="post">
                {% csrf_token %}
                <select id="categoria" name="categoria" onchange="this.form.submit()">
                    <option value="" selected disabled hidden>Filtrar por...</option>
                    <option value="Tudo">Tudo</option>
                    <option value="Roupa">Roupa</option>
                    <option value="Livros">Livros</option>
                    <option value="Escrita">Escrita</option>
                    <option value="Casa">Casa</option>
                    <option value="Outros">Outros</option>
                </select>
            </form>
        </section>

        {% if lista_produtos %}
            <h2>{{ titulo }}</h2>
            {% for produto in lista_produtos %}
            <section class="index-product-wrap">
                <section class="index-product-img">
                    <img src="{% static 'media/images/produto/' %}{{ produto.imagem }}" alt="Produto" id="img-produto">
                </section>

                <section class="index-product-details-wrap">
                    <section class="index-product-name">{{ produto.nome }}</section>
                    <section class="index-product-username"><i class="fa-solid fa-user"></i> {{ produto.user.username }}</section>
                    <section class="index-product-likes"><i class="fa-solid fa-thumbs-up"></i> {{ produto.total_likes }}</section>
                    <section class="index-product-likes">Stock: {{ produto.quantidade }} unidade{{ produto.quantidade|pluralize }}</section>
                    <section class="index-product-name"><img src="{% static 'ibuy/images/coin.png' %}" alt="Moeda do website" width="30" height="30"> {{ produto.preco }}</section>

                    {{ produto.categoria }}

                    <a href="{% url 'ibuy:produto' produto.id %}">
                        Ver
                    </a>
                    {% if user.is_superuser %}
                    <br>
                    <br>
                    <a href="{% url 'ibuy:alterarproduto' produto.id %}">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <a href="{% url 'ibuy:apagarproduto' produto.id %}">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </section>
            </section>
            <hr>
            {% endfor %}

        {% else %}
        <p>Não existem produtos.</p>
        {% endif %}

        {% endblock %}
    </section>

    <footer>
        <section class="upper-footer-wrap">
            <section class="upper-footer-wrap-content">
                <section class="upper-footer-wrap-left">
                    <section class="upper-footer-wrap-left-text">
                        <h4>Contactos</h4>
                        <p><i class="fa-solid fa-phone"></i>+351 212 698 364</p>
                        <p><i class="fa-regular fa-envelope"></i>ibuy@business.com</p>
                    </section>
                </section>
                <section class="vertical-line"></section>
                <section class="upper-footer-wrap-mid">
                    <section class="upper-footer-wrap-mid-text">
                        <h4>Sobre a iBuy</h4>
                        <p><a href="{% url 'ibuy:historiaempresa' %}" target="_blank">História da empresa</a></p>
                        <p><a href="" target="_blank">A nossa moeda</a></p>
                        <p><a href="" target="_blank">Onde estamos</a></p>
                    </section>
                </section>
                <section class="vertical-line"></section>
                <section class="upper-footer-wrap-right">
                    <section class="upper-footer-wrap-right-text">
                        <h4>Redes sociais</h4>
                        <a href="https://m.facebook.com/samco2k?_rdr" target="_blank"><i
                                class="fa-brands fa-facebook-f"></i> Facebook</a><br>
                        <a href="https://www.instagram.com/opombosilva/" target="_blank"><i
                                class="fa-brands fa-instagram"></i> Instagram</a><br>
                        <a href="https://twitter.com/uhfonso" target="_blank"><i class="fa-brands fa-twitter"></i>
                            Twitter</a><br>
                    </section>
                </section>
            </section>
        </section>
        <section class="lower-footer-wrap">
            <p>Olga Silva | Samuel Correia | Afonso Sampaio</p>
            <p>&copy; 2022, iBuy. Todos os direitos reservados.</p>
        </section>
    </footer>

</section>

</body>
</html>