{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Login</title>
    {% endblock %}
</head>


<body>
{% block content %}
    {% if not request.user.is_authenticated %}
        <form action="{% url 'ibuy:loginuser' %}" method="post" class="login-form">
            {% csrf_token %}
            <h2>Login</h2>
            {% if request.session.invalid_user is not None %}
            <h4>{{ request.session.invalid_user }}</h4>
            {% endif %}
            {% if error_message %}
            <h4>{{ error_message }}</h4>
            {% endif %}
            <label>Username:</label>
            <input type="text" name="username" id="username" class="form-field"/><br><br>
            <label>Password:</label>
            <input type="password" name="password" id="password" class="form-field"/><br><br>
            <input type="submit" value="Login" class="form-btn" />
        </form>
    {% else %}
        <p>Já se encontra autenticado.</p>
        <a href="{% url 'ibuy:index' %}">Home page</a>
    {% endif %}
    Clique <a href="{% url 'ibuy:criarconta' %}">aqui</a> para criar conta
{% endblock %}
</body>
