{% extends "ibuy/index.html" %}
{% load static %}


{% block title %}
<title>Meus Produtos</title>
{% endblock %}


{% block content %}
<body>

{% if lista_produtos %}
<h2>Os Meus Produtos</h2>
{% for produto in lista_produtos %}


<a href="{% url 'ibuy:produto' produto.id %}">
            <section style="cursor: pointer;" class="index-product-wrap" id="{{ produto.id }}">
                <a href="{% url 'ibuy:produto' produto.id %}">
                    <section class="index-product-img">
                        <img src="{% static 'media/images/produto/' %}{{ produto.imagem }}" alt="Produto"
                             id="img-produto">
                    </section>
                </a>

                <section class="index-product-details-wrap">

                    <section class="index-product-name">
                        <a href="{% url 'ibuy:produto' produto.id %}">
                            {{ produto.nome }}
                        </a>
                    </section>
                    <section class="index-product-username">
                        <a href="{% url 'ibuy:perfil' produto.user.id %}">
                            <i class="fa-solid fa-user"></i>{{ produto.user.username }}
                        </a>
                    </section>
                    <section class="index-product-likes"><i class="fa-solid fa-thumbs-up"></i>{{ produto.total_likes }}
                    </section>
                    <section class="index-product-state">Condição: {{ produto.condicao }}
                    </section>
                    <section class="index-product-quantity">Stock: {{ produto.quantidade }} unidade{{ produto.quantidade|pluralize }}
                    </section>
                    <section class="index-product-price"><img src="{% static 'ibuy/images/coin.png' %}"
                                                              alt="Moeda do website" width="30" height="30">  {{ produto.preco }}
                    </section>

                    <section class="admin-index-product-options">
                        <a href="{% url 'ibuy:alterarproduto' produto.id %}">
                            <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                        </a>
                        <a href="{% url 'ibuy:apagarproduto' produto.id %}">
                            <i class="fa-solid fa-trash fa-2xl"></i>
                        </a>
                    </section>


                </section>
            </section>
        </a>

{% endfor %}

{% else %}
<p>Nao tem nada a venda.</p>
{% endif %}

</body>
{% endblock %}


