{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Perfil de x</title>
    {% endblock %}
</head>

{% block content %}
<body>
    <p>
      {% if lista_produtos %}
    <ul>
        <h2>Produtos</h2>
        {% for produto in lista_produtos %}
        <li>
            {{ produto.nome }}
            {{ produto.quantidade }}
            {{ produto.descricao }}
            {{ produto.condicao }}
            {{ produto.categoria.tipo }}
            {{ produto.imagem }}
            <!-- retorno do valor a ser impresso na página -->
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nao tem nada a venda.</p>
    {% endif %}
    <p>
</body>
{% endblock %}


