{% extends "ibuy/index.html" %}
{% load static %}


{% block title %}
<title>Meus Produtos</title>
{% endblock %}


{% block content %}
<body>

{% if lista_produtos %}
<h2>Os Meus Produtos</h2>
{% for produto in page_obj.object_list %}



            <section style="cursor: pointer;" class="object-wrap" id="{{ produto.id }}" onclick='location.href="produto/{{produto.id}}";' id="{{ produto.id }}">


                    <section class="object-img">
                        <img src="{% static 'media/images/produto/' %}{{ produto.imagem }}" alt="Produto"
                             id="img-produto">
                    </section>


                <section class="object-details-wrap">

                    <section class="object-name">
                        <a href="{% url 'ibuy:produto' produto.id %}">
                            {{ produto.nome }}
                        </a>
                    </section>

                    <section class="object-username">
                        <a href="{% url 'ibuy:perfil' produto.user.id %}">
                            <i class="fa-solid fa-user"></i>{{ produto.user.username }}
                        </a>
                    </section>

                    <section class="object-detail-one"><i class="fa-solid fa-thumbs-up"></i>{{ produto.total_likes }}
                    </section>
                    <section class="object-detail-two">Condição: {{ produto.condicao }}
                    </section>
                    <section class="object-detail-three">Stock: {{ produto.quantidade }} unidade{{ produto.quantidade|pluralize }}
                    </section>
                    <section class="object-detail-four"><img src="{% static 'ibuy/images/coin.png' %}"
                                                             alt="Moeda do website" width="30" height="30">  {{ produto.preco }}
                    </section>

                    <section class="admin-object-options">
                        <a href="{% url 'ibuy:alterarproduto' produto.id %}">
                            <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                        </a>
                        <a href="{% url 'ibuy:apagarproduto' produto.id %}">
                            <i class="fa-solid fa-trash fa-2xl"></i>
                        </a>
                    </section>


                </section>
            </section>


{% endfor %}

  <section class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </section>
{% else %}
<p>Nao tem nada a venda.</p>
{% endif %}

</body>
{% endblock %}


