{% extends "ibuy/index.html" %}
{% load static %}

{% block title %}
<title>Editar Conta</title>
{% endblock %}

{% block content %}
        {% if error_message %}
        <h4 class="form-error-msg-outside">{{ error_message }}</h4>
        {% endif %}

    <section class="form-wrap-wide">

    <form action="{% url 'ibuy:alterarconta' user.id %}" enctype="multipart/form-data" method="post" class="login-form">
        {% csrf_token %}
        <h2>Alterar Dados</h2>
        {% for field in user_form %}
        <label class="form-field-label">{{ field.label }}</label><br>
        {{ field }}<br><br>
        <br>
        {% endfor %}
        {% for field in utilizador_form %}
        <label class="form-field-label" >{{ field.label }}</label><br>
        {{ field }}<br><br>
        <br>
        {% endfor %}

        <input type="submit" value="Guardar Alterações" class="form-btn" />

    </form><br>
    <form action="{% url 'ibuy:alterarpassword' user.id %}" method="post" class="login-form">
        {% csrf_token %}
        <h2>Alterar Password</h2>
        <label for="passwordatual" class="form-field-label">Password Atual</label><br>
        <input type="password" name="passwordatual" id="passwordatual" class="form-field" required/><br><br>
        {% for field in password_form %}
        <label class="form-field-label">{{ field.label }} Nova</label><br>
        {{ field }}<br>
        <br>
        {% endfor %}
        <br>
        <input type="submit" value="Alterar Password" class="form-btn" />
    </form>
    <br><br>

        </section>
{% endblock %}