{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>A Minha Conta</title>
    {% endblock %}
</head>

{% block content %}
<body>
    <!-- <section id="minhacontaforms"> -->
        <!-- queremos fazer a verifcação se está logado aqui também, penso que seja suficiente nas vies ter o @login... --->
        <img src="{% static '/ibuy/images/user.png' %}" height=100px width=auto>
        <!--- com if para verificar se já tem imagem e apresenta a imagem e texto do botão apropriado. --->
        <br>
        <a href="" id="alterar_imagem">Alterar Imagem</a>
        <br><br>
        <form action="" method="post">
            {% csrf_token %}
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome"/><br>
            <label for="apelido">Apelido:</label>
            <input type="text" name="apelido" id="apelido"/><br>
            <label for="nomeutilizador" >Nome de Utilizador:</label>
            <input type="text" name="nomeutilizador" id="nomeutilizador" /><br>
            <input type="submit" value="Guardar Alterações" class="submit" />
        </form><br>
        <form action="" method="post">
            {% csrf_token %}
            <h2>Alterar Password</h2>
            <label for="passwordatual">Atual:</label>
            <input type="password" name="passwordatual" id="passwordatual"/><br>
            <label for="passwordnova">Nova:</label>
            <input type="password" name="passwordnova" id="passwordnova"/><br>
            <label for="passwordnovarep">Repita a nova:</label>
            <input type="password" name="passwordnovarep" id="passwordnovarep"/><br>
            <input type="submit" value="Alterar Password" class="submit" />
        </form>
    <!-- </section> -->
</body>
{% endblock %}