{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>A Minha Conta</title>
    {% endblock %}
</head>

{% block content %}
<body>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
    <!-- <section id="minhacontaforms"> -->
        <!-- queremos fazer a verifcação se está logado aqui também, penso que seja suficiente nas vies ter o @login... --->
        <img src="{% static 'media/images/utilizador/' %}{{user.utilizador.imagem}}" height=100px width=auto> <br>
        <!--- com if para verificar se já tem imagem e apresenta a imagem e texto do botão apropriado. --->


    <form action="{% url 'ibuy:alterarconta' user.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ utilizador_form.as_p }}
        <!--
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{ user.first_name }}" required/><br>
        <label for="apelido">Apelido:</label>
        <input type="text" name="apelido" id="apelido" value="{{ user.last_name }}" required/><br>
        <label for="nomeutilizador">Nome de Utilizador:</label>
        <input type="text" name="nomeutilizador" id="nomeutilizador" value="{{ user.username }}" disabled required/><br>
        -->
        <input type="submit" value="Guardar Alterações" class="submit" />

    </form><br>
    <form action="{% url 'ibuy:alterarpassword' user.id %}" method="post">
        {% csrf_token %}
        <h2>Alterar Password</h2>
        <label for="passwordatual">Atual:</label>
        <input type="password" name="passwordatual" id="passwordatual" required/><br>
        {{ password_form }}
        <input type="submit" value="Alterar Password" class="submit" />
    </form>
    <br><br>
    <!-- </section> -->
</body>
{% endblock %}