{% extends "ibuy/index.html" %}
{% load static %}
<head>
    {% block title %}
    <title>Onde estamos</title>

    <style>
        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            /**align-items: center;
            justify-content: center; **/
            flex-direction: column;

        }
        iframe {
            width: 80%;
            height: 500px;
            float: left;
        }
    </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <aside>
        <section class="container">
        <h1>Onde estamos?</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3111.646224261244!2d-9.157161849105087!3d38.74887977949368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1933e6984e0247%3A0x419468826314eacf!2sISCTE-IUL!5e0!3m2!1spt-PT!2spt!4v1652445588951!5m2!1spt-PT!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    </aside>

{% endblock %}
</body>