{% extends "ibuy/index.html" %}
{% load static %}


<head>
    {% block title %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <title>Perfil de x</title>
    {% endblock %}
</head>

{% block content %}
<body>
    <aside style="float:left; padding: 15px; margin: 15px">
        <p>
            <img src="{% static 'media/images/utilizador/' %}{{user.utilizador.imagem}}" height=100px width=auto> <br>
            {{ user.username }} <br>


            28/02/2000 <br>
            <a href="" id="contacto">Contacto</a> <br>

            {% if user.id == request.user.id or request.user.is_superuser %}
            <a href="{% url 'ibuy:minhaconta' user.id %}">
                <i class="fa fa-pen-to-square" aria-hidden="true"></i>
            </a>
            {% endif %}
            {% if request.user.is_superuser %}
            <a href="{% url 'ibuy:apagarutilizador' user.id %}">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            {% endif %}
            <br>
            <strong><a href="" id="avaliar">Avaliar</a></strong>
        </p>
    </aside>

    <p>
        {% if lista_produtos %}
    <h2>Os Produtos de {{ user.username }}</h2>
    {% for produto in lista_produtos %}
    <hr>
    <p>
    <aside style="alignment: right">
        <a href="{% url 'ibuy:produto' produto.id %}">
            <img src="{% static 'media/images/produto/' %}{{produto.imagem}}" height=100px width=auto> <br>
        </a>
    </aside>

    <a href="{% url 'ibuy:produto' produto.id %}">
        <strong>{{ produto.nome }}</strong><br><br>
    </a>
    Preço: {{ produto.preco }} SOA$<br>
    {{ produto.descricao }}<br>

    {% if produto.user.id == request.user.id or request.user.is_superuser %}
    <aside>
        <a href="{% url 'ibuy:alterarproduto' produto.id %}">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a href="{% url 'ibuy:apagarproduto' produto.id %}">
            <i class="fa-solid fa-trash"></i>
        </a>
    </aside>
    {% endif %}
    <!-- retorno do valor a ser impresso na página -->
    </p>
    {% endfor %}
    <hr>
    {% else %}
    <p>Nao tem nada a venda.</p>
    {% endif %}
    <p>
    </body>
{% endblock %}