{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Produto x</title>
    {% endblock %}
</head>

    <body>
        {% block content %}

        <aside style="float:right; padding: 15px; margin: 15px">
        <p>
            {{ produto.preco }} <br><br>
            <!-- <img src="{% static '/ibuy/images/user.png' %}" height=auto width=15px> Username<br>
            ***** <br> -->
            {{ produto.condicao }} <br>
            {{ produto.quantidade }} <br>
            <!-- Visualizações? <br> -->
            </p>
            <form action="">
            <label for="quantidade">Quantidade:</label>
              <input list="quantidades" name="quantidade" id="quantidade">
              <datalist id="quantidades">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </datalist><br>
                <input type="submit" value="Adicionar ao carrinho">
                <input type="submit" value="Comprar já">
            </form>
        </aside>
           {{ produto.nome }}<br>
            {{ produto.categoria.tipo }}
            <p>
                {{ produto.descricao }}
            </p>
        <a href="{% url 'ibuy:perfil' produto.user_id %}">
                {{ nome_user }}
        </a>
        <br><br><br><br><br><br>

        <!--
        <section>
            <h3>Comentários</h3>
            <p>
                <a href="" id="perfil1">Utilizador x</a>: Gostei está fixe.
            </p>
            <p>
                <a href="" id="perfil2">Utilizador y</a>: Podia estar mais pog.
            </p>
        </section>
        -->
        {% endblock %}
</body>
