{% extends "ibuy/index.html" %}
{% load static %}

{% block title %}
<title>{{ produto.nome }}</title>
{% endblock %}

{% block content %}
<br>
<section class="product-wrap">

    <h2> {{ produto.nome }} </h2>
    <section class="product-img-wrap">
        <img src="{% static 'media/images/produto/' %}{{produto.imagem}}"> <br>
    </section>

    <section class="product-info-wrap">

        <strong>Descrição</strong><br><section class="product-description">{{ produto.descricao }}</section><br>
        <strong>Categoria</strong><br>{{ produto.categoria.tipo }}<br><br>
        <strong>Condição</strong><br>{{ produto.condicao }}<br><br>
        <strong>Stock</strong><br>{{ produto.quantidade }} unidade{{ produto.quantidade|pluralize }}<br><br>

        <strong>Vendedor</strong><br>
        <section class="product-vendedor" >
        <a href="{% url 'ibuy:perfil' produto.user.id %}">
                            <i class="fa-solid fa-user-check"></i>{{ produto.user.username }}
        </a></section>


        <section class="coin-product"><img src="{% static 'ibuy/images/coin.png' %}"
                                                             alt="Moeda do website" width="30" height="30">{{ produto.preco }}
        </section>

    </section>

</section>




{% if request.user.is_authenticated and not request.user.is_superuser %}
    <section class="product-options-wrap">

        {% if produto.user.id == request.user.id or request.user.is_superuser %}
        <a style="padding-right: 10px;" href="{% url 'ibuy:alterarproduto' produto.id %}">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
        </a>
        <a style="padding-right: 10px;" href="{% url 'ibuy:apagarproduto' produto.id %}">
            <i class="fa-solid fa-trash fa-lg"></i>
        </a>
        {% endif %}

    <a href="{% url 'ibuy:like_produto' produto.id %}">
        {% if liked %}
        <i class="fa-solid fa-thumbs-up fa-lg"></i>
        {% else %}
        <i class="fa-regular fa-thumbs-up fa-lg"></i>
        {% endif %}
    </a>
        {{ produto.total_likes }}
    </section>
{% endif %}



<section class="embed-video">
    {% if produto.video_embed != "" %}
    <br><strong>Vídeo demonstrativo do produto</strong><br><br>
    {{ produto.video_embed|safe }}
    {% endif %}
</section>


{% if request.user.is_authenticated and not request.user.is_superuser and request.user != produto.user %}
    <br><br>
    <section class="add-to-cart">
    <form action="{% url 'ibuy:updatecarrinho' produto.id %}" method="post">
        {% csrf_token %}
        <section class="form-field-label" >Qtd.</section>
        <input style="width: 10%; background-color: #fafafa" class="form-field" type="number" name="quantidade" id="quantidade" value="0" min=0 max={{ produto.quantidade }}
           step=1>
        <input type="submit" value="Adicionar" class="form-btn" style="margin-left:0; font-size: 16px"/>
    </form>

</section>
{% endif %}





<br><br>
<hr>
<h3>{{ listacomentarios.count }} comentário{{ listacomentarios.count|pluralize }} </h3>
{% if request.user.is_authenticated and not request.user.is_superuser %}
<form action="{% url 'ibuy:adicionarcomentario' produto.id %}" method="post" class="comment-form">
    {% csrf_token %}
    {% for field in comentarioform %}
    {{ field }}
    <br>
    {% endfor %}
</form>
{% endif %}

<br>

{% if listacomentarios %}
<section class="scrollbar">
{% for comentario in listacomentarios %}


    <section class="comment-wrap">
        <section class="comment-img">
        <img src="{% static 'media/images/utilizador/' %}{{comentario.user.utilizador.imagem}}"> <br>
        </section>
        <section class="comment-details-wrap">
        <section class="comment-user">
            <strong>{{ comentario.user }}</strong> <span style="font-size: 12px;"> {{ comentario.timestamp }}</span>
        </section>

        <section class="comment-text">
        {{ comentario.texto }}
        </section>
        </section>

        {% if request.user.id == comentario.user_id or request.user.is_superuser %}
        <section class="comment-delete-btn">
        <a href="{% url 'ibuy:apagarcomentario' comentario.id %}"><i class="fa-solid fa-trash"></i></a>
        </section>
        {% endif %}

    </section>

{% endfor %}
</section>
<br>
<br>
{% else %}
<h3>Não existem comentários.</h3>
{% endif %}


{% endblock %}
