{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Produto x</title>
    {% endblock %}
</head>

<body>
{% block content %}

    <p>
        <img src="{% static 'media/images/produto/' %}{{produto.imagem}}" height=100px width=auto> <br>

        Nome Produto: {{ produto.nome }} <br>
        Preço: {{ produto.preco }} <br>
        Condicao: {{ produto.condicao }} <br>
        Quantidade: {{ produto.quantidade }} <br>
        Categoria: {{ produto.categoria.tipo }} <br>
        Descricao: {{ produto.descricao }} <br>
        <a href="{% url 'ibuy:perfil' produto.user_id %}">
            {{ nome_user }}
        </a>
    </p>
    Comprar <br>
    <form action="{% url 'ibuy:updatecarrinho' produto.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Adicionar"/>
    </form>

<br>
    <form action="{% url 'ibuy:like_produto' produto.id %}" method="post">
        {% csrf_token %}
        <label for="like_button">Total Likes: {{ produto.total_likes }}</label>
        {% if request.user.is_authenticated %}
            {% if liked %}
            <button style="color:red" type="submit" id="dislike_button" name="produto_id" value="{{ produto.id }}">Dislike</button>
            {% else %}
            <button type="submit" id="like_button" name="produto_id" value="{{ produto.id }}">Like</button>
            {% endif %}
        {% else %}
        <p>Tem que estar autenticado para poder dar like</p>
        {% endif %}
    </form>

    <br><br>
    <hr>

    {% if listacomentarios %}

    {% for comentario in listacomentarios %}
    <li>
        From: {{ comentario.user }}
        Texto: {{ comentario.texto }}
    </li>
    {% endfor %}
    {% else %}
    <p>Nao existem comentarios.</p>
    {% endif %}

    <form action="{% url 'ibuy:adicionarcomentario' produto.id %}" method="post">
        {% csrf_token %}
        {{ comentarioform.as_p }}
        <input type="submit" value="Adicionar"/>
    </form>


    <!--
    <section>
        <h3>Comentários</h3>
        <p>
            <a href="" id="perfil1">Utilizador x</a>: Gostei está fixe.
        </p>
        <p>
            <a href="" id="perfil2">Utilizador y</a>: Podia estar mais pog.
        </p>
    </section>
    -->
    {% endblock %}
</body>
