{% extends "ibuy/index.html" %}
{% load static %}

<head>
    {% block title %}
    <title>Utilizadores</title>
    {% endblock %}
</head>

{% block content %}
<body>
<p>
{% if lista_users %}
{% for user in lista_users %}
<hr>
<p>
<aside style="alignment: right">
    <a href="{% url 'ibuy:perfil' user.id %}">
        <img src="{% static 'media/images/utilizador/' %}{{user.utilizador.imagem}}" height=100px width=auto> <br>
    </a>
</aside>

<a href="{% url 'ibuy:perfil' user.id %}">
    <strong>{{ user.username }}</strong><br><br>
</a>


<a href="{% url 'ibuy:minhaconta' user.id %}">
    <i class="fa fa-pen-to-square" aria-hidden="true"></i>
</a>
<a href="{% url 'ibuy:apagarutilizador' user.id %}">
    <i class="fa fa-trash" aria-hidden="true"></i>
</a>
<!-- retorno do valor a ser impresso na página -->
</p>
{% endfor %}
<hr>
{% else %}
<p>Não existem utilizadores.</p>
{% endif %}
<p>
</body>
{% endblock %}


