{% extends "ibuy/index.html" %}
{% load static %}


{% block title %}
<title>Utilizadores</title>
{% endblock %}

{% block content %}
<body>

{% if lista_users %}
    <h2>Utilizadores</h2>
{% for user in page_obj.object_list %}

    <section style="cursor: pointer;" class="object-wrap" onclick='location.href="perfil/{{user.id}}";' id="{{ user.id }}">

                <section class="object-img">
                    <img src="{% static 'media/images/utilizador/' %}{{ user.utilizador.imagem }}" alt="Produto"
                             id="img-produto">
                </section>

                <section class="object-details-wrap">

                    <section class="object-name">
                        <a href="{% url 'ibuy:perfil' user.id %}">
                            {{ user.first_name }} {{ user.last_name }}
                        </a>
                    </section>

                    <section class="object-username">
                        <a href="{% url 'ibuy:perfil' user.id %}">
                            <i class="fa-solid fa-user-check"></i>{{ user.username }}
                        </a>
                    </section>

                    <section class="object-detail-one"><i class="fa-solid fa-envelope"></i>{{ user.email }}
                    </section>
                    <section class="object-detail-two"><strong>Criado em:</strong> {{ user.date_joined }}
                    </section>
                    <section class="object-detail-three"><strong>Último login:</strong> {{ user.last_login }}
                    </section>

                    <section class="admin-object-options">
                        <a href="{% url 'ibuy:minhaconta' user.id %}">
                            <i class="fa-solid fa-pen-to-square fa-2xl"></i>
                        </a>
                        <a href="{% url 'ibuy:apagarutilizador' user.id %}">
                            <i class="fa-solid fa-trash fa-2xl"></i>
                        </a>
                    </section>


                </section>
            </section>

{% endfor %}

          <section class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </section>

{% else %}
<h2>Não existem utilizadores.</h2>
{% endif %}

</body>
{% endblock %}


